.main {
    width: 100%;
    height: 120px; 
    margin: 0px;
    background:rgba(90, 90, 90, 0.5);
    opacity: 0.9;
    position:fixed;
    z-index: 100;
}
.nav{
    display: flex;
    justify-content: space-around;
    color: #fff;
    list-style-type: none;
    cursor: pointer;
    font-size: 26px;

}
.nav li:hover{
    color: #000;
}

.logo{
    background: url(assets/class_business.png) no-repeat;
    width:318px;
    height: 200px;
    margin-top: -20px;
    margin-right: -60px;
}