<h2>Фiрма ”БІЗНЕС КЛАС” працює на ринку торгової техніки з 1995 року. Фірма є регіональним представником «SystemGroup», НВФ”Юнісистем”, ЗАО”Резонанс, ТзОВ “ІКС-Маркет”, ТОВ”Альфа-ЮСіЕль”, компанії ІСТ (ЄТС). В 2003 році в рамках Національної Програми Партнерства, здійснюваною «SystemGroup», отримала статус Інтегратора.</h2>
<br>
<img src="assets/people.png" alt="" class="imageOne">
<br>
<br>
<h2>Головна стратегія компанії «БІЗНЕС КЛАС»: підтримка лідерства в Західному регіоні по якості обслуговування корпоративних клієнтів, професіоналізму, забезпеченню комплексних рішень для автоматизації торгівлі і сфери послуг. Створити імідж надійної компанії-партнера, здатної задовольнити і передбачити очікування найвибагливіших клієнтів.</h2>
<p>Висококваліфікований колектив компанії працює в багатьох напрямах: рітейл, HoReCa, промисловість, логістика і транспорт.</p>
<div class="centralImgs">
<div class="aboutCenter">
  <img src="/assets/avtoumat.png" alt="" class="imageTwo"> 
  <h4>Автоматизація ресторану, кафе, бару</h4>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.Expedita commodi perspiciatis velit dignissimos soluta ratione! Dolore ad neque,id cum vero error a nam, illo maiores asperiores earum quaerat. Deserunt!</p>
</div>
<div class="aboutCenterSecond">
  <img src="assets/location.png" alt="" float="left" class="imageThree">
  <h4>Автоматизація ресторану</h4> 
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita commodi perspiciatis velit dignissimos soluta ratione! Dolore ad neque, id cum vero error a nam, illo maiores asperiores earum quaerat. Deserunt!</p>
</div>
</div>
<div class="box">
<div class="firstColumn">
  <h3>Готові рішення</h3>
  <p>Основним напрямом діяльності є розробка проектів і комплексні постачання торгового устаткування з повною автоматизацією процесів торгівлі та подальше сервісне обслуговування.</p>
<ul>
  <li>Автоматизація ресторану</li>
  <li>Автоматизація магазину прилавочного типу</li>
  <li>Автоматизація розважального центру</li>
  <li>Рішення для магазину одягу</li>

</ul>
</div>
<div class="secondColumn">
  <img src="assets/location two.png" alt="">
</div>
</div>