<br>
<br>
<app-slider></app-slider>
<div class="projectBox">
  <img src="assets/catalog.png" alt="" width="300px" padding="20px;" > <p style="margin:10px; max-width:70%">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur fuga earum quibusdam autem officia, quidem veniam ea odit aperiam corrupti! Quibusdam, inventore nesciunt delectus quisquam soluta ex officia velit! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sapiente reprehenderit asperiores omnis a. Molestiae, magnam vero minima nam sint maiores laborum ullam commodi, modi, quaerat at possimus. Impedit, dolorem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam accusantium ducimus delectus, cum vel sequi harum debitis obcaecati blanditiis nesciunt? Modi, animi vero. Reiciendis dicta ducimus similique deserunt labore quibusdam!</p>
</div>